@font-face {
  font-family: Projects; src: url("../fonts/PROJECTS.TTF");
}

@font-face {
  font-family: OCR A Extended; src: url("../fonts/OCRAEXT.TTF");
}

/**/
/*Background*/
#background {
  background-image: url("../images/concert.jpg");
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: fixed;
}

html, body, #container {
    height: 100%;
    width: 100%;
}

#titleBar {
  height: 8.5%;
  width: 100%;
  background-color: #282727;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#pageTitle {
  position: relative;
  font-family: "Projects";
  font-size: 40px;
  color: #ffffff;
  text-shadow: 2px 2px 3px #f06d06;
  margin: 10%;
}

#bodyContainer {
  height: 90%;
  width: 70%;
  clear: both;
  margin: 0 15%;
}

#searchContainer {
  height: 40%;
  width: 100%;
  margin-top: 1%;
  clear: both;
}

#tracksContainer {
  height: 40%;
  width: 100%;
  visibility: hidden;
}

#searchBar, #artistsBar, #tracksBar {
  height: 9%;
  background-color: #111111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#searchBar {
  width: 100%;
}

#artistsBar {
  float: right;
  width: 65%;
  margin-bottom: 0.15%;
}

#tracksBar {
  width: 52.85%;
  position: relative;
  margin-left: 9%;
}

#searchSpan, #trackSpan {
  width: 100%;
  height: 100%;
  clear: both;
  margin-top: -1%;
}

form {
  display: flex;
  width: 40%;
  padding: 0.3%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #111111 inset;
    -webkit-text-fill-color: #f06d06 !important;
}

input[type="text"] {
  background: transparent;
  border: none;
  color: #f06d06;
  font-family: "OCR A Extended";
  font-size: 1.1em;
  padding: 0.9%;
  margin: 0.15% 3.5%;
  margin-right: 1%;
}

input[type="text"]:hover {
  background: #857E40;
  transition: all 0.5s;
}

input[type="submit"] {
  font-family: "OCR A Extended";
  background-color: #f06d06;
  color: white;
  font-size: 1em;
}

#resultList {
  height: auto;
  width: 90%;
  margin: 0 5%;
}

.resultsListBar {
  height: 5%;
  width: 100%;
  background-color: rgba(134, 160, 181, 0.6);
  font-family: "OCR A Extended";
  color: white;
  font-size: 1.1em;
  padding: 3%;
  clear: both;
  transition: all 0.6s;
}

.resultsListBar:hover {
  background-color: rgba(149, 178, 201, 1);
  font-size: 1.2em;
  transition: all 0.6s;
}

.resultColumns {
  margin-top: 0;
  margin-left: -3%;
  height: auto;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

li {
  list-style: none;
}

li:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.tracksTitle, .resultsTitle {
  font-family: "OCR A Extended";
  color: white;
  margin: 0 1%;
  font-size: 1.1em;
  padding: 1%;
}

.resultsTitle {
  float: right;
  font-size: 0.8em;
  padding-right: 7%;
}

div:focus, input:focus{
  outline: 0;
}

.artistMainPic {
  width: 25%;
  height: 99%;
  padding-left: 9%;
  display: inline-block;
}

.artistMainPic img {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.thumbnailsContainer {
  display: inline-block;
  height: 90%;
  width: 60%;
  float: right;
}

.thumbnailsList {
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding-left: 0px;
  margin-left: -8.3%;
  overflow-y: visible;
  overflow-x: hidden;
}

.thumbnailsList li {
  height: 25%;
  width: auto;
  margin: 2.14% 0;
  margin-top: 0;
}

.thumbnailsList li img {
  width: 10%;
  height: 100%;
  padding: 0 2%;
  margin-bottom: -5%;
  -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
}

.thumbnailsList li img:hover {
  transform: scale(1.1);
}

.trackDisplay {
  display: inline-block;
  width: 56.3%;
  height: 100%;
  margin-left: 5.55%;
  margin-top: -1.33%;
}

.trackList li {
  height: 3%;
  width: 100%;
  border-bottom-style: groove;
  border-bottom-color: transparent;
  border-bottom-width: thin;
}

.simiBar, .songBar {
  height: 100%;
  width: auto;
  background-color: rgba(40, 39, 39, 0.6);
  font-family: "OCR A Extended";
  color: white;
  font-size: 1.01em;
  padding: 1%;
  clear: both;
  transition: all 0.6s;
}

.songBar {
  padding-left: 5%;
  font-size: 0.975em;
}

.simiBar:hover, .songBar:hover {
  background-color: rgba(61, 51, 37, 1);
  font-size: 1.1em;
  transition: all 0.6s;
}

.songPic {
  width: 100%;
  height: 100%;
}

.songPic img {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

div.songPlay {
  width: 33%;
  height: 100%;
  margin-top: -2.5%;
  float: right;
  margin-right: 5%;
}

.songPic img:hover {
  transition: all 0.5s;
  transform: scale(0.95);
}

div.songPlay:hover input {
    display: flex;
    position: absolute;
}

div.songPlay input {
  z-index: 1;
  position:absolute;
  display:none;
  transition: all 2s ease-in-out;
}

div.songPlay input.play {
  top: 80%;
  left: 68%;
}
div.songPlay input.pause {
  top: 80%;
  left: 71%;
}

.play, .pause {
  width: 2%;
  height: 3%;
}

.thumbnailsList::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/*background-color: #F5F5F5;*/
}

.thumbnailsList::-webkit-scrollbar{
	width: 10px;
	/*background-color: #F5F5F5;*/
}

.thumbnailsList::-webkit-scrollbar-thumb{
	background-color: #F90;
	background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
